{
  "openapi": "3.0.0",
  "info": {
    "title": "Twitch API Swagger UI (Unofficial)",
    "description": "Unofficial Swagger UI (OpenAPI 3) for Twitch API.\n\nAll endpoints are generated automatically from the [twitch docs](https://dev.twitch.tv/docs/api/reference) page.\n\n__Features:__\n\n* Swagger UI for all Twitch API endpoints\n* Schemas for _Request Query Parameters_, _Request Body_, _Response Body_\n* Some additional schemas like _Clip_, _ChatBadge_, _Prediction_, _Game_, _Channel_, _Video_ etc.\n* Response codes and examples\n\n__Repository:__ [github.com/DmitryScaletta/twitch-api-swagger](https://github.com/DmitryScaletta/twitch-api-swagger)",
    "version": "helix"
  },
  "servers": [
    {
      "url": "https://api.twitch.tv/helix",
      "description": "Helix"
    }
  ],
  "security": [],
  "tags": [
    {
      "name": "Ads"
    },
    {
      "name": "Analytics"
    },
    {
      "name": "Bits"
    },
    {
      "name": "Channels"
    },
    {
      "name": "Channel Points"
    },
    {
      "name": "Charity"
    },
    {
      "name": "Chat"
    },
    {
      "name": "Clips"
    },
    {
      "name": "Entitlements"
    },
    {
      "name": "Extensions"
    },
    {
      "name": "EventSub"
    },
    {
      "name": "Games"
    },
    {
      "name": "Goals"
    },
    {
      "name": "Hype Train"
    },
    {
      "name": "Moderation"
    },
    {
      "name": "Polls"
    },
    {
      "name": "Predictions"
    },
    {
      "name": "Raids"
    },
    {
      "name": "Schedule"
    },
    {
      "name": "Search"
    },
    {
      "name": "Music"
    },
    {
      "name": "Streams"
    },
    {
      "name": "Subscriptions"
    },
    {
      "name": "Tags"
    },
    {
      "name": "Teams"
    },
    {
      "name": "Users"
    },
    {
      "name": "Videos"
    },
    {
      "name": "Whispers"
    }
  ],
  "paths": {
    "/channels/commercial": {
      "post": {
        "tags": [
          "Ads"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successfully started the commercial.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StartCommercialResponse"
                },
                "examples": {
                  "Example": {
                    "description": "_Request:_\n\nThis request starts a commercial.\n\n```bash\ncurl -X POST 'https://api.twitch.tv/helix/channels/commercial' \\\n-H 'Authorization: Bearer 2gbdx6oar67tqtcmt49t3wpcgycthx' \\\n-H 'Client-Id: wbmytr93xzw8zbg0p1izqyzzc5mbiz' \\\n-H 'Content-Type: application/json' \\\n--data-raw '{\n  \"broadcaster_id\": \"41245072\",\n  \"length\": 60\n}'\n```",
                    "value": {
                      "data": [
                        {
                          "length": 60,
                          "message": "",
                          "retry_after": 480
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "* The _broadcaster\\_id_ query parameter is required.\n* The _length_ query parameter is required.\n* The ID in _broadcaster\\_id_ is not valid.\n* To start a commercial, the broadcaster must be streaming live.\n* The broadcaster may not run another commercial until the cooldown period expires. The `retry_after` field in the previous start commercial response specifies the amount of time the broadcaster must wait between running commercials."
          },
          "401": {
            "description": "* The ID in `broadcaster_id` must match the user ID found in the request’s OAuth token.\n* The Authorization header is required and must contain a user access token.\n* The user access token must include the **channel:edit:commercial** scope.\n* The OAuth token is not valid.\n* The client ID specified in the Client-Id header does not match the client ID specified in the OAuth token."
          },
          "404": {
            "description": "* The ID in `broadcaster_id` was not found."
          },
          "429": {
            "description": "* The broadcaster may not run another commercial until the cooldown period expires. The `retry_after` field in the previous start commercial response specifies the amount of time the broadcaster must wait between running commercials."
          }
        },
        "externalDocs": {
          "url": "https://dev.twitch.tv/docs/api/reference#start-commercial"
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/StartCommercialBody"
              },
              "examples": {
                "Example": {
                  "value": {
                    "broadcaster_id": "41245072",
                    "length": 60
                  },
                  "description": "This request starts a commercial."
                }
              }
            }
          }
        },
        "summary": "Starts a commercial on the specified channel.",
        "description": "Starts a commercial on the specified channel.\n\n**NOTE**: Only partners and affiliates may run commercials and they must be streaming live at the time.\n\n**NOTE**: Only the broadcaster may start a commercial; the broadcaster’s editors and moderators may not start commercials on behalf of the broadcaster.\n\n__Authentication:__\n\nRequires a [user access token](https://dev.twitch.tv/docs/authentication#user-access-tokens) that includes the **channel:edit:commercial** scope."
      }
    },
    "/analytics/extensions": {
      "get": {
        "tags": [
          "Analytics"
        ],
        "parameters": [
          {
            "name": "extension_id",
            "in": "query",
            "description": "The extension’s client ID. If specified, the response contains a report for the specified extension. If not specified, the response includes a report for each extension that the authenticated user owns.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "type",
            "in": "query",
            "description": "The type of analytics report to get. Possible values are:  \n  \n* overview\\_v2",
            "schema": {
              "type": "string",
              "enum": [
                "overview_v2"
              ]
            }
          },
          {
            "name": "started_at",
            "in": "query",
            "description": "The reporting window’s start date, in RFC3339 format. Set the time portion to zeroes (for example, 2021-10-22T00:00:00Z).  \n  \nThe start date must be on or after January 31, 2018\\. If you specify an earlier date, the API ignores it and uses January 31, 2018\\. If you specify a start date, you must specify an end date. If you don’t specify a start and end date, the report includes all available data since January 31, 2018.  \n  \nThe report contains one row of data for each day in the reporting window.",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "ended_at",
            "in": "query",
            "description": "The reporting window’s end date, in RFC3339 format. Set the time portion to zeroes (for example, 2021-10-27T00:00:00Z). The report is inclusive of the end date.  \n  \nSpecify an end date only if you provide a start date. Because it can take up to two days for the data to be available, you must specify an end date that’s earlier than today minus one to two days. If not, the API ignores your end date and uses an end date that is today minus one to two days.",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "first",
            "in": "query",
            "description": "The maximum number of report URLs to return per page in the response. The minimum page size is 1 URL per page and the maximum is 100 URLs per page. The default is 20.  \n  \n**NOTE**: While you may specify a maximum value of 100, the response will contain at most 20 URLs per page.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "after",
            "in": "query",
            "description": "The cursor used to get the next page of results. The **Pagination** object in the response contains the cursor’s value. [Read More](https://dev.twitch.tv/docs/api/guide#pagination)  \n  \nThis parameter is ignored if the _extension\\_id_ parameter is set.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved the broadcaster’s analytics reports.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetExtensionAnalyticsResponse"
                },
                "examples": {
                  "Example": {
                    "description": "_Request:_\n\nGets the URLs for all reports for all extensions of the authenticated client. The request was issued on June 1, 2018.\n\n```bash\ncurl -X GET 'https://api.twitch.tv/helix/analytics/extensions' \\\n-H 'Authorization: Bearer cfabdegwdoklmawdzdo98xt2fo512y' \\\n-H 'Client-Id: uo6dggojyb8d6soh92zknwmi5ej1q2'\n```",
                    "value": {
                      "data": [
                        {
                          "extension_id": "efgh",
                          "URL": "https://twitch-piper-reports.s3-us-west-2.amazonaws.com/dynamic/LoL%20ADC...",
                          "type": "overview_v2",
                          "date_range": {
                            "started_at": "2018-03-01T00:00:00Z",
                            "ended_at": "2018-06-01T00:00:00Z"
                          }
                        }
                      ],
                      "pagination": {
                        "cursor": "eyJiIjpudWxsLCJhIjp7Ik9mZnNldCI6NX19"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "* The start and end dates are optional but if you specify one, you must specify the other.\n* The end date must be equal to or later than the start date.\n* The cursor specified in the _after_ query parameter is not valid.\n* The resource supports only forward pagination (use the _after_ query parameter).\n* The _first_ query parameter is outside the allowed range of values."
          },
          "401": {
            "description": "* The Authorization header is required and must contain a user access token.\n* The user access token must include the **analytics:read:extensions** scope.\n* The OAuth token is not valid.\n* The Client-Id header is required.\n* The client ID specified in the Client-Id header does not match the client ID specified in the OAuth token."
          },
          "404": {
            "description": "* The extension specified in the _extension\\_id_ query parameter was not found."
          }
        },
        "externalDocs": {
          "url": "https://dev.twitch.tv/docs/api/reference#get-extension-analytics"
        },
        "summary": "Gets an analytics report for one or more extensions.",
        "description": "Gets an analytics report for one or more extensions. The response contains the URLs used to download the reports (CSV files). [Learn More](https://dev.twitch.tv/docs/insights)\n\n__Authentication:__\n\nRequires a [user access token](https://dev.twitch.tv/docs/authentication#user-access-tokens) that includes the **analytics:read:extensions** scope."
      }
    },
    "/analytics/games": {
      "get": {
        "tags": [
          "Analytics"
        ],
        "parameters": [
          {
            "name": "game_id",
            "in": "query",
            "description": "The game’s client ID. If specified, the response contains a report for the specified game. If not specified, the response includes a report for each of the authenticated user’s games.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "type",
            "in": "query",
            "description": "The type of analytics report to get. Possible values are:  \n  \n* overview\\_v2",
            "schema": {
              "type": "string",
              "enum": [
                "overview_v2"
              ]
            }
          },
          {
            "name": "started_at",
            "in": "query",
            "description": "The reporting window’s start date, in RFC3339 format. Set the time portion to zeroes (for example, 2021-10-22T00:00:00Z). If you specify a start date, you must specify an end date.  \n  \nThe start date must be within one year of today’s date. If you specify an earlier date, the API ignores it and uses a date that’s one year prior to today’s date. If you don’t specify a start and end date, the report includes all available data for the last 365 days from today.  \n  \nThe report contains one row of data for each day in the reporting window.",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "ended_at",
            "in": "query",
            "description": "The reporting window’s end date, in RFC3339 format. Set the time portion to zeroes (for example, 2021-10-22T00:00:00Z). The report is inclusive of the end date.  \n  \nSpecify an end date only if you provide a start date. Because it can take up to two days for the data to be available, you must specify an end date that’s earlier than today minus one to two days. If not, the API ignores your end date and uses an end date that is today minus one to two days.",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "first",
            "in": "query",
            "description": "The maximum number of report URLs to return per page in the response. The minimum page size is 1 URL per page and the maximum is 100 URLs per page. The default is 20.  \n  \n**NOTE**: While you may specify a maximum value of 100, the response will contain at most 20 URLs per page.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "after",
            "in": "query",
            "description": "The cursor used to get the next page of results. The **Pagination** object in the response contains the cursor’s value. [Read More](https://dev.twitch.tv/docs/api/guide#pagination)  \n  \nThis parameter is ignored if _game\\_id_ parameter is set.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved the broadcaster’s analytics reports.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetGameAnalyticsResponse"
                },
                "examples": {
                  "Example 1": {
                    "description": "_Request:_\n\nGets the URL for a downloadable CSV report for game ID 493057, covering the period January 1, 2018 through March 1, 2018.\n\n```bash\ncurl -X GET 'https://api.twitch.tv/helix/analytics/games?game_id=493057&started_at=2018-01-01T00:00:00Z&ended_at=2018-03-01T00:00:00Z' \\\n-H 'Authorization: Bearer cfabdegwdoklmawdzdo98xt2fo512y' \\\n-H 'Client-Id: uo6dggojyb8d6soh92zknwmi5ej1q2'\n```",
                    "value": {
                      "data": [
                        {
                          "game_id": "493057",
                          "URL": "https://twitch-piper-reports.s3-us-west-2.amazonaws.com/games/66170/overview/15183...",
                          "type": "overview_v2",
                          "date_range": {
                            "started_at": "2018-01-01T00:00:00Z",
                            "ended_at": "2018-03-01T00:00:00Z"
                          }
                        }
                      ]
                    }
                  },
                  "Example 2": {
                    "description": "_Request:_\n\nGets the first 5 URLs for all reports for all games of the authenticated client. The request was issued on June 14, 2018.\n\n```bash\ncurl -X GET 'https://api.twitch.tv/helix/analytics/games?first=5' \\\n-H 'Authorization: Bearer cfabdegwdoklmawdzdo98xt2fo512y' \\\n-H 'Client-Id: uo6dggojyb8d6soh92zknwmi5ej1q2'\n```",
                    "value": {
                      "data": [
                        {
                          "game_id": "9821",
                          "URL": "https://twitch-piper-reports.s3-us-west-2.amazonaws.com/games/9821/overview/152642...",
                          "type": "overview_v2",
                          "date_range": {
                            "started_at": "2018-03-13T00:00:00Z",
                            "ended_at": "2018-06-13T00:00:00Z"
                          }
                        }
                      ],
                      "pagination": {
                        "cursor": "eyJiIjpudWxsLJxhIjoiIn0gf5"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "* The start and end dates are optional but if you specify one, you must specify the other.\n* The end date must be equal to or later than the start date.\n* The cursor specified in the _after_ query parameter is not valid.\n* The resource supports only forward pagination (use the _after_ query parameter).\n* The _first_ query parameter is outside the allowed range of values."
          },
          "401": {
            "description": "* The Authorization header is required and must contain a user access token.\n* The user access token must include the **analytics:read:games** scope.\n* The OAuth token is not valid.\n* The Client-Id header is required.\n* The client ID specified in the Client-Id header does not match the client ID specified in the OAuth token."
          },
          "404": {
            "description": "* The game specified in the _game\\_id_ query parameter was not found."
          }
        },
        "externalDocs": {
          "url": "https://dev.twitch.tv/docs/api/reference#get-game-analytics"
        },
        "summary": "Gets an analytics report for one or more games.",
        "description": "Gets an analytics report for one or more games. The response contains the URLs used to download the reports (CSV files). [Learn more](https://dev.twitch.tv/docs/insights)\n\n__Authentication:__\n\nRequires a [user access token](https://dev.twitch.tv/docs/authentication#user-access-tokens) that includes the **analytics:read:games** scope."
      }
    },
    "/bits/leaderboard": {
      "get": {
        "tags": [
          "Bits"
        ],
        "parameters": [
          {
            "name": "count",
            "in": "query",
            "description": "The number of results to return. The minimum count is 1 and the maximum is 100\\. The default is 10.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "period",
            "in": "query",
            "description": "The time period over which data is aggregated (uses the PST time zone). Possible values are:  \n  \n* day — A day spans from 00:00:00 on the day specified in _started\\_at_ and runs through 00:00:00 of the next day.\n* week — A week spans from 00:00:00 on the Monday of the week specified in _started\\_at_ and runs through 00:00:00 of the next Monday.\n* month — A month spans from 00:00:00 on the first day of the month specified in _started\\_at_ and runs through 00:00:00 of the first day of the next month.\n* year — A year spans from 00:00:00 on the first day of the year specified in _started\\_at_ and runs through 00:00:00 of the first day of the next year.\n* all — Default. The lifetime of the broadcaster's channel.",
            "schema": {
              "type": "string",
              "enum": [
                "day",
                "week",
                "month",
                "year",
                "all"
              ]
            }
          },
          {
            "name": "started_at",
            "in": "query",
            "description": "The start date, in RFC3339 format, used for determining the aggregation period. Specify this parameter only if you specify the _period_ query parameter. The start date is ignored if _period_ is all.  \n  \nNote that the date is converted to PST before being used, so if you set the start time to `2022-01-01T00:00:00.0Z` and _period_ to month, the actual reporting period is December 2021, not January 2022\\. If you want the reporting period to be January 2022, you must set the start time to `2022-01-01T08:00:00.0Z` or `2022-01-01T00:00:00.0-08:00`.  \n  \nIf your start date uses the ‘+’ offset operator (for example, `2022-01-01T00:00:00.0+05:00`), you must URL encode the start date.",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "user_id",
            "in": "query",
            "description": "An ID that identifies a user that cheered bits in the channel. If _count_ is greater than 1, the response may include users ranked above and below the specified user. To get the leaderboard’s top leaders, don’t specify a user ID.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved the broadcaster’s Bits leaderboard.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetBitsLeaderboardResponse"
                },
                "examples": {
                  "Example": {
                    "description": "_Request:_\n\nGets information about the authenticated broadcaster’s top two Bits leaderboard entries for the specified week.\n\n```bash\ncurl -X GET 'https://api.twitch.tv/helix/bits/leaderboard?count=2&period=week&started_at=2018-02-05T08%3A00%3A00Z' \\\n-H 'Authorization: Bearer 2gbdx6oar67tqtcmt49t3wpcgycthx' \\\n-H 'Client-Id: uo6dggojyb8d6soh92zknwmi5ej1q2'\n```",
                    "value": {
                      "data": [
                        {
                          "user_id": "158010205",
                          "user_login": "tundracowboy",
                          "user_name": "TundraCowboy",
                          "rank": 1,
                          "score": 12543
                        },
                        {
                          "user_id": "7168163",
                          "user_login": "topramens",
                          "user_name": "Topramens",
                          "rank": 2,
                          "score": 6900
                        }
                      ],
                      "date_range": {
                        "started_at": "2018-02-05T08:00:00Z",
                        "ended_at": "2018-02-12T08:00:00Z"
                      },
                      "total": 2
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "* The time period specified in the _period_ query parameter is not valid.\n* The _started\\_at_ query parameter is required if _period_ is not set to _all_.\n* The value in the _count_ query parameter is outside the range of allowed values."
          },
          "401": {
            "description": "* The Authorization header is required and must specify a user access token.\n* The user access token must include the the **bits:read** scope.\n* The access token is not valid.\n* The ID in the Client-Id header must match the client ID in the access token."
          },
          "403": {
            "description": ""
          }
        },
        "externalDocs": {
          "url": "https://dev.twitch.tv/docs/api/reference#get-bits-leaderboard"
        },
        "summary": "Gets the Bits leaderboard for the authenticated broadcaster.",
        "description": "Gets the Bits leaderboard for the authenticated broadcaster.\n\n__Authentication:__\n\nRequires a [user access token](https://dev.twitch.tv/docs/authentication#user-access-tokens) that includes the **bits:read** scope."
      }
    },
    "/bits/cheermotes": {
      "get": {
        "tags": [
          "Bits"
        ],
        "parameters": [
          {
            "name": "broadcaster_id",
            "in": "query",
            "description": "The ID of the broadcaster whose custom Cheermotes you want to get. Specify the broadcaster’s ID if you want to include the broadcaster’s Cheermotes in the response (not all broadcasters upload Cheermotes). If not specified, the response contains only global Cheermotes.  \n  \nIf the broadcaster uploaded Cheermotes, the `type` field in the response is set to **channel\\_custom**.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved the Cheermotes.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetCheermotesResponse"
                },
                "examples": {
                  "Example": {
                    "description": "_Request:_\n\nGets a list of all global Cheermotes.\n\n```bash\ncurl -X GET 'https://api.twitch.tv/helix/bits/cheermotes' \\\n-H 'Authorization: Bearer 2gbdx6oar67tqtcmt49t3wpcgycthx' \\\n-H 'Client-Id: wbmytr93xzw8zbg0p1izqyzzc5mbiz'\n```\n\nGets a list of all global Cheermotes and any Cheermotes that the broadcaster has uploaded.\n\n```bash\ncurl -X GET 'https://api.twitch.tv/helix/bits/cheermotes?broadcaster_id=41245072' \\\n-H 'Authorization: Bearer 2gbdx6oar67tqtcmt49t3wpcgycthx' \\\n-H 'Client-Id: wbmytr93xzw8zbg0p1izqyzzc5mbiz'\n```",
                    "value": {
                      "data": [
                        {
                          "prefix": "Cheer",
                          "tiers": [
                            {
                              "min_bits": 1,
                              "id": "1",
                              "color": "#979797",
                              "images": {
                                "dark": {
                                  "animated": {
                                    "1": "https://d3aqoihi2n8ty8.cloudfront.net/actions/cheer/dark/animated/1/1.gif",
                                    "2": "https://d3aqoihi2n8ty8.cloudfront.net/actions/cheer/dark/animated/1/2.gif",
                                    "3": "https://d3aqoihi2n8ty8.cloudfront.net/actions/cheer/dark/animated/1/3.gif",
                                    "4": "https://d3aqoihi2n8ty8.cloudfront.net/actions/cheer/dark/animated/1/4.gif",
                                    "1.5": "https://d3aqoihi2n8ty8.cloudfront.net/actions/cheer/dark/animated/1/1.5.gif"
                                  },
                                  "static": {
                                    "1": "https://d3aqoihi2n8ty8.cloudfront.net/actions/cheer/dark/static/1/1.png",
                                    "2": "https://d3aqoihi2n8ty8.cloudfront.net/actions/cheer/dark/static/1/2.png",
                                    "3": "https://d3aqoihi2n8ty8.cloudfront.net/actions/cheer/dark/static/1/3.png",
                                    "4": "https://d3aqoihi2n8ty8.cloudfront.net/actions/cheer/dark/static/1/4.png",
                                    "1.5": "https://d3aqoihi2n8ty8.cloudfront.net/actions/cheer/dark/static/1/1.5.png"
                                  }
                                },
                                "light": {
                                  "animated": {
                                    "1": "https://d3aqoihi2n8ty8.cloudfront.net/actions/cheer/light/animated/1/1.gif",
                                    "2": "https://d3aqoihi2n8ty8.cloudfront.net/actions/cheer/light/animated/1/2.gif",
                                    "3": "https://d3aqoihi2n8ty8.cloudfront.net/actions/cheer/light/animated/1/3.gif",
                                    "4": "https://d3aqoihi2n8ty8.cloudfront.net/actions/cheer/light/animated/1/4.gif",
                                    "1.5": "https://d3aqoihi2n8ty8.cloudfront.net/actions/cheer/light/animated/1/1.5.gif"
                                  },
                                  "static": {
                                    "1": "https://d3aqoihi2n8ty8.cloudfront.net/actions/cheer/light/static/1/1.png",
                                    "2": "https://d3aqoihi2n8ty8.cloudfront.net/actions/cheer/light/static/1/2.png",
                                    "3": "https://d3aqoihi2n8ty8.cloudfront.net/actions/cheer/light/static/1/3.png",
                                    "4": "https://d3aqoihi2n8ty8.cloudfront.net/actions/cheer/light/static/1/4.png",
                                    "1.5": "https://d3aqoihi2n8ty8.cloudfront.net/actions/cheer/light/static/1/1.5.png"
                                  }
                                }
                              },
                              "can_cheer": true,
                              "show_in_bits_card": true
                            }
                          ],
                          "type": "global_first_party",
                          "order": 1,
                          "last_updated": "2018-05-22T00:06:04Z",
                          "is_charitable": false
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "* The Authorization header is required and must specify an app access token or user access token.\n* The ID in the Client-Id header must match the Client ID in the OAuth token."
          }
        },
        "externalDocs": {
          "url": "https://dev.twitch.tv/docs/api/reference#get-cheermotes"
        },
        "summary": "Gets a list of Cheermotes that users can use to cheer Bits.",
        "description": "Gets a list of Cheermotes that users can use to cheer Bits in any Bits-enabled channel’s chat room. Cheermotes are animated emotes that viewers can assign Bits to.\n\n__Authentication:__\n\nRequires an [app access token](https://dev.twitch.tv/docs/authentication#app-access-tokens) or [user access token](https://dev.twitch.tv/docs/authentication#user-access-tokens)."
      }
    },
    "/extensions/transactions": {
      "get": {
        "tags": [
          "Bits"
        ],
        "parameters": [
          {
            "name": "extension_id",
            "in": "query",
            "description": "The ID of the extension whose list of transactions you want to get.",
            "schema": {
              "type": "string"
            },
            "required": true
          },
          {
            "name": "id",
            "in": "query",
            "description": "A transaction ID used to filter the list of transactions. Specify this parameter for each transaction you want to get. For example, `id=1234&id=5678`. You may specify a maximum of 100 IDs.",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "explode": true
          },
          {
            "name": "first",
            "in": "query",
            "description": "The maximum number of items to return per page in the response. The minimum page size is 1 item per page and the maximum is 100 items per page. The default is 20.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "after",
            "in": "query",
            "description": "The cursor used to get the next page of results. The **Pagination** object in the response contains the cursor’s value. [Read More](https://dev.twitch.tv/docs/api/guide#pagination)",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sccessfully retrieved the list of transactions.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetExtensionTransactionsResponse"
                },
                "examples": {
                  "Example": {
                    "description": "_Request:_\n\n```bash\ncurl -X GET\n'https://api.twitch.tv/helix/extensions/transactions?extension_id=1234' \\\n-H 'Authorization: Bearer cfabdegwdoklmawdzdo98xt2fo512y' \\\n-H 'Client-Id: uo6dggojyb8d6soh92zknwmi5ej1q2'\n```",
                    "value": {
                      "data": [
                        {
                          "id": "74c52265-e214-48a6-91b9-23b6014e8041",
                          "timestamp": "2019-01-28T04:15:53.325Z",
                          "broadcaster_id": "439964613",
                          "broadcaster_login": "chikuseuma",
                          "broadcaster_name": "chikuseuma",
                          "user_id": "424596340",
                          "user_login": "quotrok",
                          "user_name": "quotrok",
                          "product_type": "BITS_IN_EXTENSION",
                          "product_data": {
                            "domain": "twitch.ext.uo6dggojyb8d6soh92zknwmi5ej1q2",
                            "sku": "testSku100",
                            "cost": {
                              "amount": 100,
                              "type": "bits"
                            },
                            "inDevelopment": false,
                            "displayName": "Test Product 100",
                            "expiration": "",
                            "broadcast": false
                          }
                        },
                        {
                          "id": "8d303dc6-a460-4945-9f48-59c31d6735cb",
                          "timestamp": "2019-01-18T09:10:13.397Z",
                          "broadcaster_id": "439964613",
                          "broadcaster_login": "chikuseuma",
                          "broadcaster_name": "chikuseuma",
                          "user_id": "439966926",
                          "user_login": "liscuit",
                          "user_name": "liscuit",
                          "product_type": "BITS_IN_EXTENSION",
                          "product_data": {
                            "domain": "twitch.ext.uo6dggojyb8d6soh92zknwmi5ej1q2",
                            "sku": "testSku200",
                            "cost": {
                              "amount": 200,
                              "type": "bits"
                            },
                            "inDevelopment": false,
                            "displayName": "Test Product 200",
                            "expiration": "",
                            "broadcast": false
                          }
                        }
                      ],
                      "pagination": {
                        "cursor": "cursorString"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "* The _extension\\_id_ query parameter is required.\n* The request specified too many _id_ query parameters.\n* The pagination cursor is not valid."
          },
          "401": {
            "description": "* The Authorization header is required and must specify an app access token.\n* The access token is not valid.\n* The ID in the _extension\\_id_ query parameter must match the client ID in the access token.\n* The ID in the Client-Id header must match the client ID in the access token."
          },
          "404": {
            "description": "* One or more of the transaction IDs specified using the _id_ query parameter were not found."
          }
        },
        "externalDocs": {
          "url": "https://dev.twitch.tv/docs/api/reference#get-extension-transactions"
        },
        "summary": "Gets a list of transactions for an extension.",
        "description": "Gets a list of transactions for an extension. A transaction records the exchange of a currency (for example, Bits) for a digital product.\n\n__Authentication:__\n\nRequires an [app access token](https://dev.twitch.tv/docs/authentication#app-access-tokens)."
      }
    },
    "/channels": {
      "get": {
        "tags": [
          "Channels"
        ],
        "parameters": [
          {
            "name": "broadcaster_id",
            "in": "query",
            "description": "The ID of the broadcaster whose channel you want to get. To specify more than one ID, include this parameter for each broadcaster you want to get. For example, `broadcaster_id=1234&broadcaster_id=5678`. You may specify a maximum of 100 IDs. The API ignores duplicate IDs and IDs that are not found.",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "required": true,
            "explode": true
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved the list of channels.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetChannelInformationResponse"
                },
                "examples": {
                  "Example": {
                    "description": "_Request:_\n\nGets information about the TwitchDev channel.\n\n```bash\ncurl -X GET 'https://api.twitch.tv/helix/channels?broadcaster_id=141981764' \\\n-H 'Authorization: Bearer 2gbdx6oar67tqtcmt49t3wpcgycthx' \\\n-H 'Client-Id: wbmytr93xzw8zbg0p1izqyzzc5mbiz'\n```",
                    "value": {
                      "data": [
                        {
                          "broadcaster_id": "141981764",
                          "broadcaster_login": "twitchdev",
                          "broadcaster_name": "TwitchDev",
                          "broadcaster_language": "en",
                          "game_id": "509670",
                          "game_name": "Science & Technology",
                          "title": "TwitchDev Monthly Update // May 6, 2021",
                          "delay": 0
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "* The _broadcaster\\_id_ query parameter is required.\n* The broadcaster ID is not valid.\n* The number of _broadcaster\\_id_ query parameters exceeds the maximum allowed."
          },
          "401": {
            "description": "* The Authorization header is required and must specify an app access token or user access token.\n* The OAuth token is not valid.\n* The ID in the Client-Id header must match the Client ID in the OAuth token."
          },
          "429": {
            "description": "* The application exceeded the number of calls it may make per minute. For details, see [Rate Limits](https://dev.twitch.tv/docs/api/guide#twitch-rate-limits)."
          },
          "500": {
            "description": ""
          }
        },
        "externalDocs": {
          "url": "https://dev.twitch.tv/docs/api/reference#get-channel-information"
        },
        "summary": "Gets information about one or more channels.",
        "description": "Gets information about one or more channels.\n\n__Authentication:__\n\nRequires an [app access token](https://dev.twitch.tv/docs/authentication#app-access-tokens) or [user access token](https://dev.twitch.tv/docs/authentication#user-access-tokens)."
      },
      "patch": {
        "tags": [
          "Channels"
        ],
        "parameters": [
          {
            "name": "broadcaster_id",
            "in": "query",
            "description": "The ID of the broadcaster whose channel you want to update. This ID must match the user ID associated with the user access token.",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "responses": {
          "204": {
            "description": "Successfully updated the channel’s properties.\n\n__Examples__\n\n_Request:_\n\n```bash\ncurl -X PATCH 'https://api.twitch.tv/helix/channels?broadcaster_id=41245072' \\\n-H 'Authorization: Bearer 2gbdx6oar67tqtcmt49t3wpcgycthx' \\\n-H 'Client-Id: wbmytr93xzw8zbg0p1izqyzzc5mbiz' \\\n-H 'Content-Type: application/json' \\\n--data-raw '{\"game_id\":\"33214\", \"title\":\"there are helicopters in the game? REASON TO PLAY FORTNITE found\", \"broadcaster_language\":\"en\"}'\n```"
          },
          "400": {
            "description": "* The _broadcaster\\_id_ query parameter is required.\n* The request must update at least one property.\n* The `title` field may not contain an empty string.\n* The ID in `game_id` is not valid.\n* To update the `delay` field, the broadcaster must have partner status."
          },
          "401": {
            "description": "* The ID in _broadcaster\\_id_ must match the user ID found in the OAuth token.\n* The Authorization header is required and must specify a user access token.\n* The OAuth token must include the **channel:manage:broadcast** scope.\n* The OAuth token is not valid.\n* The ID in the Client-Id header must match the Client ID in the OAuth token."
          },
          "500": {
            "description": ""
          }
        },
        "externalDocs": {
          "url": "https://dev.twitch.tv/docs/api/reference#modify-channel-information"
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ModifyChannelInformationBody"
              },
              "examples": {
                "Example": {
                  "value": {
                    "game_id": "33214",
                    "title": "there are helicopters in the game? REASON TO PLAY FORTNITE found",
                    "broadcaster_language": "en"
                  }
                }
              }
            }
          }
        },
        "summary": "Updates a channel’s properties.",
        "description": "Updates a channel’s properties.\n\n__Authentication:__\n\nRequires a [user access token](https://dev.twitch.tv/docs/authentication#user-access-tokens) that includes the **channel:manage:broadcast** scope.\n\n__Request Body:__\n\nAll fields are optional, but you must specify at least one field."
      }
    },
    "/channels/editors": {
      "get": {
        "tags": [
          "Channels"
        ],
        "parameters": [
          {
            "name": "broadcaster_id",
            "in": "query",
            "description": "The ID of the broadcaster that owns the channel. This ID must match the user ID in the access token.",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved the list of editors.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetChannelEditorsResponse"
                },
                "examples": {
                  "Example": {
                    "description": "_Request:_\n\nGets the list of editors for TwitchDev.\n\n```bash\ncurl -X GET 'https://api.twitch.tv/helix/channels/editors?broadcaster_id=141981764' \\\n-H 'Authorization: Bearer 2gbdx6oar67tqtcmt49t3wpcgycthx' \\\n-H 'Client-Id: wbmytr93xzw8zbg0p1izqyzzc5mbiz' \\\n```",
                    "value": {
                      "data": [
                        {
                          "user_id": "182891647",
                          "user_name": "mauerbac",
                          "created_at": "2019-02-15T21:19:50.380833Z"
                        },
                        {
                          "user_id": "135093069",
                          "user_name": "BlueLava",
                          "created_at": "2018-03-07T16:28:29.872937Z"
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "* The _broadcaster\\_id_ query parameter is required."
          },
          "401": {
            "description": "* The ID in the _broadcaster\\_id_ query parameter must match the user ID found in the OAuth token.\n* The Authorization header is required and must specify a user access token.\n* The OAuth token must include the **channel:read:editors** scope.\n* The OAuth token is not valid.\n* The ID in the Client-Id header must match the Client ID in the OAuth token."
          }
        },
        "externalDocs": {
          "url": "https://dev.twitch.tv/docs/api/reference#get-channel-editors"
        },
        "summary": "Gets a list of users that are editors for the specified broadcaster.",
        "description": "Gets a list of users that are editors for the specified broadcaster.\n\n__Authentication:__\n\nRequires a [user access token](https://dev.twitch.tv/docs/authentication#user-access-tokens) that includes the **channel:read:editors** scope."
      }
    },
    "/channel_points/custom_rewards": {
      "post": {
        "tags": [
          "Channel Points"
        ],
        "parameters": [
          {
            "name": "broadcaster_id",
            "in": "query",
            "description": "The ID of the broadcaster to add the custom reward to. This ID must match the user ID found in the OAuth token.",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully created the Custom Reward.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateCustomRewardsResponse"
                },
                "examples": {
                  "Example": {
                    "description": "_Request:_\n\nCreates a custom reward.\n\n```bash\ncurl -X POST 'https://api.twitch.tv/helix/channel_points/custom_rewards?broadcaster_id=274637212' \\\n-H 'client-id: gx2pv4208cff0ig9ou7nk3riccffxt' \\\n-H 'Authorization: Bearer vjxv3i0l4zxru966wsnwji51tmpkj2' \\\n-H 'Content-Type: application/json' \\\n-d '{\n  \"title\":\"game analysis 1v1\",\n  \"cost\":50000\n}'\n```",
                    "value": {
                      "data": [
                        {
                          "broadcaster_name": "torpedo09",
                          "broadcaster_login": "torpedo09",
                          "broadcaster_id": "274637212",
                          "id": "afaa7e34-6b17-49f0-a19a-d1e76eaaf673",
                          "image": null,
                          "background_color": "#00E5CB",
                          "is_enabled": true,
                          "cost": 50000,
                          "title": "game analysis 1v1",
                          "prompt": "",
                          "is_user_input_required": false,
                          "max_per_stream_setting": {
                            "is_enabled": false,
                            "max_per_stream": 0
                          },
                          "max_per_user_per_stream_setting": {
                            "is_enabled": false,
                            "max_per_user_per_stream": 0
                          },
                          "global_cooldown_setting": {
                            "is_enabled": false,
                            "global_cooldown_seconds": 0
                          },
                          "is_paused": false,
                          "is_in_stock": true,
                          "default_image": {
                            "url_1x": "https://static-cdn.jtvnw.net/custom-reward-images/default-1.png",
                            "url_2x": "https://static-cdn.jtvnw.net/custom-reward-images/default-2.png",
                            "url_4x": "https://static-cdn.jtvnw.net/custom-reward-images/default-4.png"
                          },
                          "should_redemptions_skip_request_queue": false,
                          "redemptions_redeemed_current_stream": null,
                          "cooldown_expires_at": null
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "* The request exceeds the maximum number of rewards allowed per channel.\n* The _broadcaster\\_id_ query parameter is required.\n* The `title` field is required.\n* The `title` must contain a minimum of 1 character and a maximum of 45 characters.\n* The `title` must be unique amongst all of the broadcaster's custom rewards.\n* The `cost` field is required.\n* The `cost` field must contain a minimum of 1 point.\n* The `prompt` field is limited to a maximum of 200 characters.\n* If `is_max_per_stream_enabled` is **true**, the minimum value for `max_per_stream` is 1.\n* If `is_max_per_user_per_stream_enabled` is **true**, the minimum value for `max_per_user_per_stream` is 1.\n* If `is_global_cooldown_enabled` is **true**, the minimum value for `global_cooldown_seconds` is 1."
          },
          "401": {
            "description": "* The Authorization header is required and must specify a user access token.\n* The user access token is missing the **channel:manage:redemptions** scope.\n* The OAuth token is not valid.\n* The ID in the Client-Id header must match the Client ID in the OAuth token."
          },
          "403": {
            "description": "* The broadcaster is not a partner or affiliate."
          },
          "500": {
            "description": ""
          }
        },
        "externalDocs": {
          "url": "https://dev.twitch.tv/docs/api/reference#create-custom-rewards"
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateCustomRewardsBody"
              },
              "examples": {
                "Example": {
                  "value": {
                    "title": "game analysis 1v1",
                    "cost": 50000
                  },
                  "description": "Creates a custom reward."
                }
              }
            }
          }
        },
        "summary": "Creates a Custom Reward in the broadcaster’s channel.",
        "description": "Creates a Custom Reward in the broadcaster’s channel. The maximum number of custom rewards per channel is 50, which includes both enabled and disabled rewards.\n\n__Authentication:__\n\nRequires a [user access token](https://dev.twitch.tv/docs/authentication#user-access-tokens) that includes the **channel:manage:redemptions** scope."
      },
      "delete": {
        "tags": [
          "Channel Points"
        ],
        "parameters": [
          {
            "name": "broadcaster_id",
            "in": "query",
            "description": "The ID of the broadcaster that created the custom reward. This ID must match the user ID found in the OAuth token.",
            "schema": {
              "type": "string"
            },
            "required": true
          },
          {
            "name": "id",
            "in": "query",
            "description": "The ID of the custom reward to delete.",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "responses": {
          "204": {
            "description": "Successfully deleted the custom reward.\n\n__Examples__\n\n_Request:_\n\nDeletes the specified custom reward.\n\n```bash\ncurl -X DELETE 'https://api.twitch.tv/helix/channel_points/custom_rewards?broadcaster_id=274637212&id=b045196d-9ce7-4a27-a9b9-279ed341ab28' \\\n-H 'Client-Id: gx2pv4208cff0ig9ou7nk3riccffxt' \\\n-H 'Authorization: Bearer vjxv3i0l4zxru966wsnwji51tmpkj2'\n```"
          },
          "400": {
            "description": "* The _broadcaster\\_id_ query parameter is required.\n* The _id_ query parameter is required."
          },
          "401": {
            "description": "* The Authorization header is required and must specify a user access token.\n* The user access token must include the **channel:manage:redemptions** scope.\n* The OAuth token is not valid.\n* The ID in the Client-Id header must match the Client ID in the OAuth token."
          },
          "403": {
            "description": "* The ID in the Client-Id header must match the client ID used to create the custom reward.\n* The broadcaster is not a partner or affiliate."
          },
          "404": {
            "description": "* The custom reward specified in the _id_ query parameter was not found."
          },
          "500": {
            "description": ""
          }
        },
        "externalDocs": {
          "url": "https://dev.twitch.tv/docs/api/reference#delete-custom-reward"
        },
        "summary": "Deletes a custom reward that the broadcaster created.",
        "description": "Deletes a custom reward that the broadcaster created.\n\nThe app used to create the reward is the only app that may delete it. If the reward’s redemption status is UNFULFILLED at the time the reward is deleted, its redemption status is marked as FULFILLED.\n\n__Authentication:__\n\nRequires a [user access token](https://dev.twitch.tv/docs/authentication#user-access-tokens) that includes the **channel:manage:redemptions** scope."
      },
      "get": {
        "tags": [
          "Channel Points"
        ],
        "parameters": [
          {
            "name": "broadcaster_id",
            "in": "query",
            "description": "The ID of the broadcaster whose custom rewards you want to get. This ID must match the user ID found in the OAuth token.",
            "schema": {
              "type": "string"
            },
            "required": true
          },
          {
            "name": "id",
            "in": "query",
            "description": "A list of IDs to filter the rewards by. To specify more than one ID, include this parameter for each reward you want to get. For example, `id=1234&id=5678`. You may specify a maximum of 50 IDs.  \n  \nDuplicate IDs are ignored. The response contains only the IDs that were found. If none of the IDs were found, the response is 404 Not Found.",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "explode": true
          },
          {
            "name": "only_manageable_rewards",
            "in": "query",
            "description": "A Boolean value that determines whether the response contains only the custom rewards that the app may manage (the app is identified by the ID in the Client-Id header). Set to **true** to get only the custom rewards that the app may manage. The default is **false**.",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved the broadcaster’s list of the Custom Rewards.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetCustomRewardResponse"
                },
                "examples": {
                  "Example 1": {
                    "description": "_Request:_\n\nGets the broadcaster’s list of custom rewards.\n\n```bash\ncurl -X GET 'https://api.twitch.tv/helix/channel_points/custom_rewards?broadcaster_id=274637212'\n-H 'Client-Id: gx2pv4208cff0ig9ou7nk3riccffxt' \\\n-H 'Authorization: Bearer vjxv3i0l4zxru966wsnwji51tmpkj2'\n```",
                    "value": {
                      "data": [
                        {
                          "broadcaster_name": "torpedo09",
                          "broadcaster_login": "torpedo09",
                          "broadcaster_id": "274637212",
                          "id": "92af127c-7326-4483-a52b-b0da0be61c01",
                          "image": null,
                          "background_color": "#00E5CB",
                          "is_enabled": true,
                          "cost": 50000,
                          "title": "game analysis",
                          "prompt": "",
                          "is_user_input_required": false,
                          "max_per_stream_setting": {
                            "is_enabled": false,
                            "max_per_stream": 0
                          },
                          "max_per_user_per_stream_setting": {
                            "is_enabled": false,
                            "max_per_user_per_stream": 0
                          },
                          "global_cooldown_setting": {
                            "is_enabled": false,
                            "global_cooldown_seconds": 0
                          },
                          "is_paused": false,
                          "is_in_stock": true,
                          "default_image": {
                            "url_1x": "https://static-cdn.jtvnw.net/custom-reward-images/default-1.png",
                            "url_2x": "https://static-cdn.jtvnw.net/custom-reward-images/default-2.png",
                            "url_4x": "https://static-cdn.jtvnw.net/custom-reward-images/default-4.png"
                          },
                          "should_redemptions_skip_request_queue": false,
                          "redemptions_redeemed_current_stream": null,
                          "cooldown_expires_at": null
                        }
                      ]
                    }
                  },
                  "Example 2": {
                    "description": "_Request:_\n\nGets the list of custom rewards that the calling Client ID can manage.\n\n```bash\ncurl -X GET 'https://api.twitch.tv/helix/channel_points/custom_rewards?broadcaster_id=274637212&only_manageable_rewards=true'\n-H 'Client-Id: gx2pv4208cff0ig9ou7nk3riccffxt' \\\n-H 'Authorization: Bearer vjxv3i0l4zxru966wsnwji51tmpkj2'​​​​​​​\n```",
                    "value": {
                      "data": [
                        {
                          "broadcaster_name": "torpedo09",
                          "broadcaster_id": "274637212",
                          "id": "92af127c-7326-4483-a52b-b0da0be61c01",
                          "image": null,
                          "background_color": "#00E5CB",
                          "is_enabled": true,
                          "cost": 50000,
                          "title": "game analysis",
                          "prompt": "",
                          "is_user_input_required": false,
                          "max_per_stream_setting": {
                            "is_enabled": false,
                            "max_per_stream": 0
                          },
                          "max_per_user_per_stream_setting": {
                            "is_enabled": false,
                            "max_per_user_per_stream": 0
                          },
                          "global_cooldown_setting": {
                            "is_enabled": false,
                            "global_cooldown_seconds": 0
                          },
                          "is_paused": false,
                          "is_in_stock": true,
                          "default_image": {
                            "url_1x": "https://static-cdn.jtvnw.net/custom-reward-images/default-1.png",
                            "url_2x": "https://static-cdn.jtvnw.net/custom-reward-images/default-2.png",
                            "url_4x": "https://static-cdn.jtvnw.net/custom-reward-images/default-4.png"
                          },
                          "should_redemptions_skip_request_queue": false,
                          "redemptions_redeemed_current_stream": null,
                          "cooldown_expires_at": null
                        }
                      ]
                    }
                  },
                  "Example 3": {
                    "description": "_Request:_\n\nGets the specified custom reward.\n\n```bash\ncurl -X GET 'https://api.twitch.tv/helix/channel_points/custom_rewards?broadcaster_id=274637212&id=92af127c-7326-4483-a52b-b0da0be61c01'\n-H 'Client-Id: gx2pv4208cff0ig9ou7nk3riccffxt' \\\n-H 'Authorization: Bearer vjxv3i0l4zxru966wsnwji51tmpkj2'​​​​​​​​​​​​​​\n```",
                    "value": {
                      "data": [
                        {
                          "broadcaster_name": "torpedo09",
                          "broadcaster_id": "274637212",
                          "id": "92af127c-7326-4483-a52b-b0da0be61c01",
                          "image": null,
                          "background_color": "#00E5CB",
                          "is_enabled": true,
                          "cost": 50000,
                          "title": "game analysis",
                          "prompt": "",
                          "is_user_input_required": false,
                          "max_per_stream_setting": {
                            "is_enabled": false,
                            "max_per_stream": 0
                          },
                          "max_per_user_per_stream_setting": {
                            "is_enabled": false,
                            "max_per_user_per_stream": 0
                          },
                          "global_cooldown_setting": {
                            "is_enabled": false,
                            "global_cooldown_seconds": 0
                          },
                          "is_paused": false,
                          "is_in_stock": true,
                          "default_image": {
                            "url_1x": "https://static-cdn.jtvnw.net/custom-reward-images/default-1.png",
                            "url_2x": "https://static-cdn.jtvnw.net/custom-reward-images/default-2.png",
                            "url_4x": "https://static-cdn.jtvnw.net/custom-reward-images/default-4.png"
                          },
                          "should_redemptions_skip_request_queue": false,
                          "redemptions_redeemed_current_stream": null,
                          "cooldown_expires_at": null
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "* The _broadcaster\\_id_ query parameter is required.\n* The request exceeds the maximum number of _id_ query parameters that you may specify."
          },
          "401": {
            "description": "* The Authorization header must specify a user access token.\n* The user access token must include the **channel:read:redemptions** scope.\n* The OAuth token is not valid.\n* The ID in the Client-Id header must match the Client ID in the OAuth token."
          },
          "403": {
            "description": "* The broadcaster is not a partner or affiliate."
          },
          "404": {
            "description": "* All of the custom rewards specified using the _id_ query parameter were not found."
          },
          "500": {
            "description": ""
          }
        },
        "externalDocs": {
          "url": "https://dev.twitch.tv/docs/api/reference#get-custom-reward"
        },
        "summary": "Gets a list of custom rewards that the specified broadcaster created.",
        "description": "Gets a list of custom rewards that the specified broadcaster created.\n\n__Authentication:__\n\nRequires a [user access token](https://dev.twitch.tv/docs/authentication#user-access-tokens) that includes the **channel:read:redemptions** scope.\n\n**NOTE**: A channel may offer a maximum of 50 rewards, which includes both enabled and disabled rewards."
      },
      "patch": {
        "tags": [
          "Channel Points"
        ],
        "parameters": [
          {
            "name": "broadcaster_id",
            "in": "query",
            "description": "The ID of the broadcaster that’s updating the reward. This ID must match the user ID found in the OAuth token.",
            "schema": {
              "type": "string"
            },
            "required": true
          },
          {
            "name": "id",
            "in": "query",
            "description": "The ID of the reward to update.",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully updated the Custom Reward.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdateCustomRewardResponse"
                },
                "examples": {
                  "Example 1": {
                    "description": "_Request:_\n\nDisables the specified custom reward.\n\n```bash\ncurl -X PATCH 'https://api.twitch.tv/helix/channel_points/custom_rewards?broadcaster_id=274637212&id=92af127c-7326-4483-a52b-b0da0be61c01' \\\n-H 'client-id: gx2pv4208cff0ig9ou7nk3riccffxt' \\\n-H 'Authorization: Bearer vjxv3i0l4zxru966wsnwji51tmpkj2' \\\n-H 'Content-Type: application/json' \\\n-d '{\n  \"is_enabled\": false\n }'\n```",
                    "value": {
                      "data": [
                        {
                          "broadcaster_name": "torpedo09",
                          "broadcaster_login": "torpedo09",
                          "broadcaster_id": "274637212",
                          "id": "92af127c-7326-4483-a52b-b0da0be61c01",
                          "image": null,
                          "background_color": "#00E5CB",
                          "is_enabled": false,
                          "cost": 30000,
                          "title": "game analysis 2v2",
                          "prompt": "",
                          "is_user_input_required": false,
                          "max_per_stream_setting": {
                            "is_enabled": true,
                            "max_per_stream": 60
                          },
                          "max_per_user_per_stream_setting": {
                            "is_enabled": false,
                            "max_per_user_per_stream": 0
                          },
                          "global_cooldown_setting": {
                            "is_enabled": false,
                            "global_cooldown_seconds": 0
                          },
                          "is_paused": false,
                          "is_in_stock": false,
                          "default_image": {
                            "url_1x": "https://static-cdn.jtvnw.net/custom-reward-images/default-1.png",
                            "url_2x": "https://static-cdn.jtvnw.net/custom-reward-images/default-2.png",
                            "url_4x": "https://static-cdn.jtvnw.net/custom-reward-images/default-4.png"
                          },
                          "should_redemptions_skip_request_queue": true,
                          "redemptions_redeemed_current_stream": 60,
                          "cooldown_expires_at": null
                        }
                      ]
                    }
                  },
                  "Example 2": {
                    "description": "_Request:_\n\nUpdates the reward’s title.\n\n```bash\ncurl -X PATCH 'https://api.twitch.tv/helix/channel_points/custom_rewards?broadcaster_id=274637212&id=92af127c-7326-4483-a52b-b0da0be61c01' \\\n-H 'client-id: gx2pv4208cff0ig9ou7nk3riccffxt' \\\n-H 'Authorization: Bearer vjxv3i0l4zxru966wsnwji51tmpkj2' \\\n-H 'Content-Type: application/json' \\\n-d '{\n  \"title\": \"game analysis 2v2\"\n }'\n```",
                    "value": {
                      "data": [
                        {
                          "broadcaster_name": "torpedo09",
                          "broadcaster_login": "torpedo09",
                          "broadcaster_id": "274637212",
                          "id": "92af127c-7326-4483-a52b-b0da0be61c01",
                          "image": null,
                          "background_color": "",
                          "is_enabled": false,
                          "cost": 30000,
                          "title": "game analysis 2v2",
                          "prompt": "",
                          "is_user_input_required": false,
                          "max_per_stream_setting": {
                            "is_enabled": true,
                            "max_per_stream": 60
                          },
                          "max_per_user_per_stream_setting": {
                            "is_enabled": false,
                            "max_per_user_per_stream": 0
                          },
                          "global_cooldown_setting": {
                            "is_enabled": false,
                            "global_cooldown_seconds": 0
                          },
                          "is_paused": false,
                          "is_in_stock": true,
                          "default_image": {
                            "url_1x": "https://static-cdn.jtvnw.net/custom-reward-images/default-1.png",
                            "url_2x": "https://static-cdn.jtvnw.net/custom-reward-images/default-2.png",
                            "url_4x": "https://static-cdn.jtvnw.net/custom-reward-images/default-4.png"
                          },
                          "should_redemptions_skip_request_queue": true,
                          "redemptions_redeemed_current_stream": 60,
                          "cooldown_expires_at": null
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "* The _broadcaster\\_id_ query parameter is required.\n* The _id_ query parameter is required.\n* The `title` must contain a minimum of 1 character and a maximum of 45 characters.\n* The `title` must be unique amongst all of the broadcaster's custom rewards.\n* The `cost` field must contain a minimum of 1 point.\n* The `prompt` field is limited to a maximum of 200 characters.\n* If `is_max_per_stream_enabled` is **true**, the minimum value for `max_per_stream` is 1.\n* If `is_max_per_user_per_stream_enabled` is **true**, the minimum value for `max_per_user_per_stream` is 1.\n* If `is_global_cooldown_enabled` is **true**, the minimum value for `global_cooldown_seconds` is 1 and the maximum is 604800."
          },
          "401": {
            "description": "* The Authorization header is required and must specify a user access token.\n* The user access token must include the **channel:manage:redemptions** scope.\n* The OAuth token is not valide.\n* The ID in the Client-Id header must match the Client ID in the OAuth token."
          },
          "403": {
            "description": "* The ID in the Client-Id header must match the client ID used to create the custom reward.\n* The broadcaster is not a partner or affiliate."
          },
          "404": {
            "description": "* The custom reward specified in the _id_ query parameter was not found."
          },
          "500": {
            "description": ""
          }
        },
        "externalDocs": {
          "url": "https://dev.twitch.tv/docs/api/reference#update-custom-reward"
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateCustomRewardBody"
              },
              "examples": {
                "Example": {
                  "value": {
                    "is_enabled": false
                  },
                  "description": "Disables the specified custom reward."
                }
              }
            }
          }
        },
        "summary": "Updates a custom reward.",
        "description": "Updates a custom reward. The app used to create the reward is the only app that may update the reward.\n\n__Authentication:__\n\nRequires a [user access token](https://dev.twitch.tv/docs/authentication#user-access-tokens) that includes the **channel:manage:redemptions** scope.\n\n__Request Body:__\n\nThe body of the request should contain only the fields you’re updating."
      }
    },
    "/channel_points/custom_rewards/redemptions": {
      "get": {
        "tags": [
          "Channel Points"
        ],
        "parameters": [
          {
            "name": "broadcaster_id",
            "in": "query",
            "description": "The ID of the broadcaster that owns the custom reward. This ID must match the user ID found in the user OAuth token.",
            "schema": {
              "type": "string"
            },
            "required": true
          },
          {
            "name": "reward_id",
            "in": "query",
            "description": "The ID that identifies the custom reward whose redemptions you want to get.",
            "schema": {
              "type": "string"
            },
            "required": true
          },
          {
            "name": "status",
            "in": "query",
            "description": "The status of the redemptions to return. The possible case-sensitive values are:  \n  \n* CANCELED\n* FULFILLED\n* UNFULFILLED\n  \n**NOTE**: This field is required only if you don’t specify the _id_ query parameter.  \n  \n**NOTE**: Canceled and fulfilled redemptions are returned for only a few days after they’re canceled or fulfilled.",
            "schema": {
              "type": "string",
              "enum": [
                "CANCELED",
                "FULFILLED",
                "UNFULFILLED"
              ]
            },
            "required": true
          },
          {
            "name": "id",
            "in": "query",
            "description": "A list of IDs to filter the redemptions by. To specify more than one ID, include this parameter for each redemption you want to get. For example, `id=1234&id=5678`. You may specify a maximum of 50 IDs.  \n  \nDuplicate IDs are ignored. The response contains only the IDs that were found. If none of the IDs were found, the response is 404 Not Found.",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "explode": true
          },
          {
            "name": "sort",
            "in": "query",
            "description": "The order to sort redemptions by. The possible case-sensitive values are:  \n  \n* OLDEST\n* NEWEST\n  \nThe default is OLDEST.",
            "schema": {
              "type": "string",
              "enum": [
                "OLDEST",
                "NEWEST"
              ]
            }
          },
          {
            "name": "after",
            "in": "query",
            "description": "The cursor used to get the next page of results. The **Pagination** object in the response contains the cursor’s value. [Read more](https://dev.twitch.tv/docs/api/guide#pagination)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "first",
            "in": "query",
            "description": "The maximum number of redemptions to return per page in the response. The minimum page size is 1 redemption per page and the maximum is 50\\. The default is 20.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved the list of redeemed custom rewards.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetCustomRewardRedemptionResponse"
                },
                "examples": {
                  "Example 1": {
                    "description": "_Request:_\n\nGets the list of redemptions that were canceled for the specified reward.\n\n```bash\ncurl -X GET 'https://api.twitch.tv/helix/channel_points/custom_rewards/redemptions?broadcaster_id=274637212&reward_id=92af127c-7326-4483-a52b-b0da0be61c01&status=CANCELED' \\\n-H 'Client-Id: gx2pv4208cff0ig9ou7nk3riccffxt' \\\n-H 'Authorization: Bearer vjxv3i0l4zxru966wsnwji51tmpkj2'\n```",
                    "value": {
                      "data": [
                        {
                          "broadcaster_name": "torpedo09",
                          "broadcaster_login": "torpedo09",
                          "broadcaster_id": "274637212",
                          "id": "17fa2df1-ad76-4804-bfa5-a40ef63efe63",
                          "user_login": "torpedo09",
                          "user_id": "274637212",
                          "user_name": "torpedo09",
                          "user_input": "",
                          "status": "CANCELED",
                          "redeemed_at": "2020-07-01T18:37:32Z",
                          "reward": {
                            "id": "92af127c-7326-4483-a52b-b0da0be61c01",
                            "title": "game analysis",
                            "prompt": "",
                            "cost": 50000
                          }
                        }
                      ],
                      "pagination": {
                        "cursor": "eyJiIjpudWxsLCJhIjp7IkN1cnNvciI6Ik1UZG1ZVEprWmpFdFlXUTNOaTAwT0RBMExXSm1ZVFV0WVRRd1pXWTJNMlZtWlRZelgxOHlNREl3TFRBM0xUQXhWREU0T2pNM09qTXlMakl6TXpFeU56RTFOMW89In19"
                      }
                    }
                  },
                  "Example 2": {
                    "description": "_Request:_\n\nGets redemptions by ID.\n\n```bash\ncurl -X GET 'https://api.twitch.tv/helix/channel_points/custom_rewards/redemptions?broadcaster_id=274637212&reward_id=92af127c-7326-4483-a52b-b0da0be61c01&id=17fa2df1-ad76-4804-bfa5-a40ef63efe63' \\\n-H 'Client-Id: gx2pv4208cff0ig9ou7nk3riccffxt' \\\n-H 'Authorization: Bearer vjxv3i0l4zxru966wsnwji51tmpkj2'\n```",
                    "value": {
                      "data": [
                        {
                          "broadcaster_name": "torpedo09",
                          "broadcaster_login": "torpedo09",
                          "broadcaster_id": "274637212",
                          "id": "17fa2df1-ad76-4804-bfa5-a40ef63efe63",
                          "user_id": "274637212",
                          "user_name": "torpedo09",
                          "user_input": "",
                          "status": "CANCELED",
                          "redeemed_at": "2020-07-01T18:37:32Z",
                          "reward": {
                            "id": "92af127c-7326-4483-a52b-b0da0be61c01",
                            "title": "game analysis",
                            "prompt": "",
                            "cost": 50000
                          }
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "* The _broadcaster\\_id_ query parameter is required.\n* The _reward\\_id_ query parameter is required.\n* The _status_ query parameter is required if you didn't specify the _id_ query parameter.\n* The value in the _status_ query parameter is not valid.\n* The value in the _sort_ query parameter is not valid."
          },
          "401": {
            "description": "* The Authorization header is required and must specify a user access token.\n* The user access token must include the **channel:read:redemptions** scope.\n* The OAuth token is not valid.\n* The ID in the Client-Id header must match the Client ID in the OAuth token."
          },
          "403": {
            "description": "* The ID in the Client-Id header must match the client ID used to create the custom reward.\n* The broadcaster is not a partner or affiliate."
          },
          "404": {
            "description": "* All of the redemptions specified using the _id_ query parameter were not found."
          },
          "500": {
            "description": ""
          }
        },
        "externalDocs": {
          "url": "https://dev.twitch.tv/docs/api/reference#get-custom-reward-redemption"
        },
        "summary": "Gets a list of redemptions for a custom reward.",
        "description": "Gets a list of redemptions for the specified custom reward. The app used to create the reward is the only app that may get the redemptions.\n\n__Authentication:__\n\nRequires a [user access token](https://dev.twitch.tv/docs/authentication#user-access-tokens) that includes the **channel:read:redemptions** scope."
      },
      "patch": {
        "tags": [
          "Channel Points"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "description": "A list of IDs that identify the redemptions to update. To specify more than one ID, include this parameter for each redemption you want to update. For example, `id=1234&id=5678`. You may specify a maximum of 50 IDs.",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "required": true,
            "explode": true
          },
          {
            "name": "broadcaster_id",
            "in": "query",
            "description": "The ID of the broadcaster that’s updating the redemption. This ID must match the user ID associated with the user OAuth token.",
            "schema": {
              "type": "string"
            },
            "required": true
          },
          {
            "name": "reward_id",
            "in": "query",
            "description": "The ID that identifies the reward that’s been redeemed.",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully updated the redemption’s status.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdateRedemptionStatusResponse"
                },
                "examples": {
                  "Example": {
                    "description": "_Request:_\n\nUpdates a redemption’s status.\n\n```bash\ncurl --X PATCH 'https://api.twitch.tv/helix/channel_points/custom_rewards/redemptions?broadcaster_id=274637212&reward_id=92af127c-7326-4483-a52b-b0da0be61c01&id=17fa2df1-ad76-4804-bfa5-a40ef63efe63' \\\n-H 'client-id: gx2pv4208cff0ig9ou7nk3riccffxt' \\\n-H 'Authorization: Bearer vjxv3i0l4zxru966wsnwji51tmpkj2' \\\n-H 'Content-Type: application/json' \\\n-d '{\n  \"status\": \"CANCELED\"\n}'\n```",
                    "value": {
                      "data": [
                        {
                          "broadcaster_name": "torpedo09",
                          "broadcaster_login": "torpedo09",
                          "broadcaster_id": "274637212",
                          "id": "17fa2df1-ad76-4804-bfa5-a40ef63efe63",
                          "user_id": "274637212",
                          "user_name": "torpedo09",
                          "user_login": "torpedo09",
                          "user_input": "",
                          "status": "CANCELED",
                          "redeemed_at": "2020-07-01T18:37:32Z",
                          "reward": {
                            "id": "92af127c-7326-4483-a52b-b0da0be61c01",
                            "title": "game analysis",
                            "prompt": "",
                            "cost": 50000
                          }
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "* The _broadcaster\\_id_ query parameter is required.\n* The _reward\\_id_ query parameter is required.\n* The _id_ query parameter is required.\n* The value in the _status_ query parameter is not valid."
          },
          "401": {
            "description": "* The Authorization header is required and must specify a user access token.\n* The user access token must include the **channel:manage:redemptions** scope.\n* The OAuth token is not valid.\n* The ID in the Client-Id header must match the Client ID in the OAuth token."
          },
          "403": {
            "description": "* The ID in the Client-Id header must match the client ID used to create the custom reward.\n* The broadcaster is not a partner or affiliate."
          },
          "404": {
            "description": "* The custom reward specified in the _reward\\_id_ query parameter was not found.\n* The redemptions specified using the _id_ query parameter were not found or their statuses weren't marked as UNFULFILLED."
          },
          "500": {
            "description": ""
          }
        },
        "externalDocs": {
          "url": "https://dev.twitch.tv/docs/api/reference#update-redemption-status"
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateRedemptionStatusBody"
              },
              "examples": {
                "Example": {
                  "value": {
                    "status": "CANCELED"
                  },
                  "description": "Updates a redemption’s status."
                }
              }
            }
          }
        },
        "summary": "Updates a redemption’s status.",
        "description": "Updates a redemption’s status. You may update a redemption only if its status is UNFULFILLED. The app used to create the reward is the only app that may update the redemption.\n\n__Authentication:__\n\nRequires a [user access token](https://dev.twitch.tv/docs/authentication#user-access-tokens) that includes the **channel:manage:redemptions** scope."
      }
    },
    "/charity/campaigns": {
      "get": {
        "tags": [
          "Charity"
        ],
        "parameters": [
          {
            "name": "broadcaster_id",
            "in": "query",
            "description": "The ID of the broadcaster that’s currently running a charity campaign. This ID must match the user ID in the access token.",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved information about the broadcaster’s active charity campaign.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetCharityCampaignResponse"
                },
                "examples": {
                  "Example": {
                    "description": "_Request:_\n\nGets the broadcaster’s active charity campaign.\n\n```bash\ncurl -X GET 'https://api.twitch.tv/helix/charity/campaigns?broadcaster_id=123456' \\\n-H 'Authorization: Bearer kpvy3cjboyptmiacwr0c19hotn5s' \\\n-H 'Client-Id: hof5gwx0su6owfn0nyan9c87zr6t'\n```",
                    "value": {
                      "data": [
                        {
                          "id": "123-abc-456-def",
                          "broadcaster_id": "123456",
                          "broadcaster_name": "SunnySideUp",
                          "broadcaster_login": "sunnysideup",
                          "charity_name": "Example name",
                          "charity_description": "Example description",
                          "charity_logo": "https://abc.cloudfront.net/ppgf/1000/100.png",
                          "charity_website": "https://www.example.com",
                          "current_amount": {
                            "value": 86000,
                            "decimal_places": 2,
                            "currency": "USD"
                          },
                          "target_amount": {
                            "value": 1500000,
                            "decimal_places": 2,
                            "currency": "USD"
                          }
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "* The _broadcaster\\_id_ query parameter is required.\n* The _broadcaster\\_id_ query parameter is not valid."
          },
          "401": {
            "description": "* The ID in the _broadcaster\\_id_ query parameter must match the user ID in the access token.\n* The Authorization header is required and must contain a user access token.\n* The user access token must include the **channel:read:charity** scope.\n* The access token is not valid.\n* The client ID specified in the Client-Id header must match the client ID specified in the access token."
          },
          "403": {
            "description": "* The broadcaster is not a partner or affiliate."
          }
        },
        "externalDocs": {
          "url": "https://dev.twitch.tv/docs/api/reference#get-charity-campaign"
        },
        "summary": "BETA Gets information about the broadcaster’s active charity campaign.",
        "description": "[BETA](https://dev.twitch.tv/docs/product-lifecycle) Gets information about the charity campaign that a broadcaster is running. For example, the campaign’s fundraising goal and the current amount of donations.\n\nTo receive events when progress is made towards the campaign’s goal or the broadcaster changes the fundraising goal, subscribe to the [channel.charity\\_campaign.progress](https://dev.twitch.tv/docs/eventsub/eventsub-subscription-types#channelcharity%5Fcampaignprogress) subscription type.\n\n__Authorization:__\n\nRequires a [user access token](https://dev.twitch.tv/docs/authentication#user-access-tokens) that includes the **channel:read:charity** scope."
      }
    },
    "/charity/donations": {
      "get": {
        "tags": [
          "Charity"
        ],
        "parameters": [
          {
            "name": "broadcaster_id",
            "in": "query",
            "description": "The ID of the broadcaster that’s currently running a charity campaign. This ID must match the user ID in the access token.",
            "schema": {
              "type": "string"
            },
            "required": true
          },
          {
            "name": "first",
            "in": "query",
            "description": "The maximum number of items to return per page in the response. The minimum page size is 1 item per page and the maximum is 100\\. The default is 20.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "after",
            "in": "query",
            "description": "The cursor used to get the next page of results. The **Pagination** object in the response contains the cursor’s value. [Read More](https://dev.twitch.tv/docs/api/guide#pagination)",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved the list of donations that users contributed to the broadcaster’s charity campaign.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetCharityCampaignDonationsResponse"
                },
                "examples": {
                  "Example": {
                    "description": "_Request:_\n\nGets the broadcaster’s active charity campaign.\n\n```bash\ncurl -X GET 'https://api.twitch.tv/helix/charity/donations?broadcaster_id=123456' \\\n-H 'Authorization: Bearer kpvy3cjboyptmiacwr0c19hotn5s' \\\n-H 'Client-Id: hof5gwx0su6owfn0nyan9c87zr6t'\n```",
                    "value": {
                      "data": [
                        {
                          "campaign_id": "123-abc-456-def",
                          "user_id": "5678",
                          "user_login": "cool_user",
                          "user_name": "Cool_User",
                          "amount": {
                            "value": 500,
                            "decimal_places": 2,
                            "currency": "USD"
                          }
                        },
                        {
                          "campaign_id": "123-abc-456-def",
                          "user_id": "8765",
                          "user_login": "cool_user2",
                          "user_name": "Cool_User2",
                          "amount": {
                            "value": 10000,
                            "decimal_places": 2,
                            "currency": "USD"
                          }
                        }
                      ],
                      "pagination": {
                        "cursor": "eyJiIjpudWxsLCJhIjp7Ik9mZnNldCI6NX19"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "* The _broadcaster\\_id_ query parameter is required.\n* The _broadcaster\\_id_ query parameter is not valid."
          },
          "401": {
            "description": "* The ID in the _broadcaster\\_id_ query parameter must match the user ID in the access token.\n* The Authorization header is required and must contain a user access token.\n* The user access token must include the **channel:read:charity** scope.\n* The access token is not valid.\n* The client ID specified in the Client-Id header must match the client ID specified in the access token."
          },
          "403": {
            "description": "* The broadcaster is not a partner or affiliate."
          }
        },
        "externalDocs": {
          "url": "https://dev.twitch.tv/docs/api/reference#get-charity-campaign-donations"
        },
        "summary": "BETA Gets the list of donations that users have made to the broadcaster’s active charity campaign.",
        "description": "[BETA](https://dev.twitch.tv/docs/product-lifecycle) Gets the list of donations that users have made to the broadcaster’s active charity campaign.\n\nTo receive events as donations occur, subscribe to the [channel.charity\\_campaign.donate](https://dev.twitch.tv/docs/eventsub/eventsub-subscription-types#channelcharity%5Fcampaigndonate) subscription type.\n\n__Authorization:__\n\nRequires a user access token that includes the **channel:read:charity** scope."
      }
    },
    "/chat/chatters": {
      "get": {
        "tags": [
          "Chat"
        ],
        "parameters": [
          {
            "name": "broadcaster_id",
            "in": "query",
            "description": "The ID of the broadcaster whose list of chatters you want to get.",
            "schema": {
              "type": "string"
            },
            "required": true
          },
          {
            "name": "moderator_id",
            "in": "query",
            "description": "The ID of the broadcaster or one of the broadcaster’s moderators. This ID must match the user ID in the user access token.",
            "schema": {
              "type": "string"
            },
            "required": true
          },
          {
            "name": "first",
            "in": "query",
            "description": "The maximum number of items to return per page in the response. The minimum page size is 1 item per page and the maximum is 1,000\\. The default is 100.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "after",
            "in": "query",
            "description": "The cursor used to get the next page of results. The **Pagination** object in the response contains the cursor’s value. [Read More](https://dev.twitch.tv/docs/api/guide#pagination)",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved the broadcaster’s list of chatters.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetChattersResponse"
                },
                "examples": {
                  "Example": {
                    "description": "_Request:_\n\nGets the list of users that are connected to the specified broadcaster’s chat room.\n\n```bash\ncurl -X GET 'https://api.twitch.tv/helix/chat/chatters?broadcaster_id=123456&moderator_id=654321' \\\n-H 'Authorization: Bearer kpvy3cjboyptmiacwr0c19hotn5s' \\\n-H 'Client-Id: hof5gwx0su6owfn0nyan9c87zr6t'\n```",
                    "value": {
                      "data": [
                        {
                          "user_id": "128393656",
                          "user_login": "smittysmithers",
                          "user_name": "smittysmithers"
                        }
                      ],
                      "pagination": {
                        "cursor": "eyJiIjpudWxsLCJhIjp7Ik9mZnNldCI6NX19"
                      },
                      "total": 8
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "* The _broadcaster\\_id_ query parameter is required.\n* The ID in the _broadcaster\\_id_ query parameter is not valid.\n* The _moderator\\_id_ query parameter is required.\n* The ID in the _moderator\\_id_ query parameter is not valid."
          },
          "401": {
[...]
