<!doctype html>
<html lang="en">
  <head>
    <title>%TITLE%</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="%DESCRIPTION%" />
    <link
      rel="stylesheet"
      href="https://unpkg.com/swagger-ui-dist@4.15.5/index.css"
    />
    <link
      rel="stylesheet"
      href="https://unpkg.com/swagger-ui-dist@4.15.5/swagger-ui.css"
    />
  </head>
  <body>
    <div id="swagger-ui"></div>
    <script
      src="https://unpkg.com/swagger-ui-dist@4.15.5/swagger-ui-bundle.js"
      crossorigin
    ></script>
    <script
      src="https://unpkg.com/swagger-ui-dist@4.15.5/swagger-ui-standalone-preset.js"
      crossorigin
    ></script>
    <script>
      window.onload = function () {
        window.ui = SwaggerUIBundle({
          url: './openapi.json',
          dom_id: '#swagger-ui',
          deepLinking: true,
          presets: [SwaggerUIBundle.presets.apis, SwaggerUIStandalonePreset],
          plugins: [SwaggerUIBundle.plugins.DownloadUrl],
          layout: 'StandaloneLayout',
        });
      };
    </script>
  </body>
</html>
